<div class="wrapper">
    <header>Matchday Standings</header>
    <table>
        <tr>
            <th>Player</th>
            <th>Matchday Points</th>
            <th>Overall Points</th>
        </tr>
        <tr *ngFor="let user of players" (click)="openTile(user)">
            <td>{{ user.name }}</td>
            <td>{{ user.points }}</td>
            <td>{{ user.stats }}</td>
        </tr>
        <!-- <tr>
            <td style="background-color:red;" colspan="4">test</td>
        </tr> -->
    </table>
</div>
