<div class="wrapper">
    <div class="tile" *ngIf="isLoadingFinished">
        <div class="header">
            {{ user.name }}
        </div>
        <div class="rosterInfoWrap">
            <div class="valueLine">
                <label>Total Roster Value:</label>
                <label>{{ this.marketValueString(totalRosterValue) }}</label>
            </div>
            <div class="goBackLine">
                <a routerLink="/dashboard">< back</a>
            </div>            
        </div>
        <div class="playerListWrap">
            <!-- <div class="playerTile">
                <div class="left">
                    <img src="{{ mockPlayer.image }}" alt="logo" height="84">
                    <div class="playerInfo">
                        <strong>{{ mockPlayer.name }}</strong>
                        <label for="">Points: {{ mockPlayer.points }}</label>
                    </div>
                </div>
                <div class="marketValue">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M17.45,15.18L22,7.31V19L22,21H2V3H4V15.54L9.5,6L16,9.78L20.24,2.45L21.97,3.45L16.74,12.5L10.23,8.75L4.31,19H6.57L10.96,11.44L17.45,15.18Z" />
                    </svg>
                    <label>
                        {{ mockPlayer.marketV }}
                    </label>
                </div>
            </div> -->
            <div class="playerTile" *ngFor="let player of players" (click)="this.navigateDetailsPage(player.id)">
                <div class="left">
                    <img src="{{ player.image }}" alt="logo" height="84">
                    <div class="playerInfo">
                        <strong>{{ player.name }}</strong>
                        <label for="">Points: {{ player.points }}</label>
                    </div>
                </div>
                <div class="bottomInfos">
                    <div class="position">
                        <label for="">{{ player.position }}</label>
                    </div>
                    <div class="marketValue">
                        <svg viewBox="0 0 24 24">
                            <path fill="currentColor" d="M17.45,15.18L22,7.31V19L22,21H2V3H4V15.54L9.5,6L16,9.78L20.24,2.45L21.97,3.45L16.74,12.5L10.23,8.75L4.31,19H6.57L10.96,11.44L17.45,15.18Z" />
                        </svg>
                        <label>
                            {{ this.marketValueString(player.marketV) }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="rosterInfoWrap">

            <div class="seeFullTeamLine" *ngIf="false">
                <button>See whole team</button>
            </div>
        </div>
    </div>
</div>