.outerWrap {
    height: 100px;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;

    .maxIndicator {
        position: absolute;
        font-size: .7em;
        top: 0;
        left: 0;
        opacity: .9;
        z-index: 2;
    }
}

.wrapper {
    position: relative;
    height: 100px;
    width: 100%;
    // background-color: grey;
    display: flex;
    align-items: flex-end;
    overflow-y: scroll;
    gap: 25px;
    justify-content: flex-start;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    border-bottom: solid 2px grey;
    border-left: solid 2px grey;

    .pillar {
        min-width: 25px;
        border-radius: .3em .3em 0 0;
        // border: solid 1px grey;
    }

}