<div class="wrapper">
    <div class="tile" *ngIf="isLoadingFinished">
        <div class="header">
            {{ user.name }}
        </div>
        <div class="playerListWrap">
            <!-- <div class="playerTile">
                <div class="left">
                    <img src="{{ mockPlayer.image }}" alt="logo" height="84">
                    <div class="playerInfo">
                        <strong>{{ mockPlayer.name }}</strong>
                        <label for="">Points: {{ mockPlayer.points }}</label>
                    </div>
                </div>
            </div> -->
            <div class="playerTile" *ngFor="let player of players">
                <div class="left">
                    <img src="{{ player.image }}" alt="logo" height="84">
                    <div class="playerInfo">
                        <strong>{{ player.name }}</strong>
                        <label for="">Points: {{ player.points }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>