<div class="wrapper">
    <div class="tile" *ngIf="isLoadingFinished">
        <div class="header">
            {{ user.name }}
        </div>
        <div class="playerListWrap">
            <div class="playerTile" *ngFor="let player of players">
                <div class="left">
                    <img [src]="player.image" alt="logo">
                    <div class="playerInfo">
                        <label>{{ player.name }}</label>
                    </div>
                </div>
                <div class="right">
                    <label for="">Points:</label>
                    <label for="">{{ player.points }}</label>
                </div>
            </div>
        </div>
    </div>
</div>