<div class="wrapper">
    <header>Standings</header>
    <div class="userListWrap">
        <app-sort-selector [options]="['Overall', 'Matchday']" (selection)="sortPlayers($event)"  #selector></app-sort-selector>
        <div class="userRow" *ngFor="let user of players; index as i" (click)="openTile(user)">
            <div class="left">
                <label for="">{{i+1}}. </label>
                <img src="{{ user.picture }}" alt="" height="48">
                <div class="infoWrap">
                    <strong>{{ user.name }}</strong>
                    <label>Points: {{ user.stats }}</label>
                </div>
            </div>
            <div class="right">
                <label [ngClass]="{'positive' : user.points > 0,'negative' : user.points < 0, 'neutral' : user.points == 0}" for="">{{user.points}}</label>
            </div>
        </div>
        <!-- <div class="userRow" (click)="openTile(mockUser)">
            <div class="left">
                <img src="{{ mockUser.picture }}" alt="" height="64">
                <div class="infoWrap">
                    <strong>{{ mockUser.name }}awdawdawdawdawdawdawdawdawdawdawd</strong>
                    <label>Total Points: {{ mockUser.stats }}</label>
                </div>
            </div>
            <div class="right">
                <label [ngClass]="{'positive' : mockUser.points > 0,'negative' : mockUser.points < 0, 'neutral' : mockUser.points == 0}" for="">{{mockUser.points}}</label>
            </div>
        </div> -->
    </div>
</div>
