.wrapper {
    position: relative;
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    font-size: 6vh;

    header {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: bold;
    }

    .userListWrap {
        width: 100%;
        max-width: 800px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: .4em;
        display: flex;
        flex-direction: column;
        gap: 8px;

        app-sort-selector {
            width: 100%;
        }
        
        .userRow {
            cursor: pointer;
            padding: .5em;
            box-sizing: border-box;
            border-radius: .5em;
            background-color: var(--tile-color);
            display: flex;
            align-items: space-between;

            img {
                pointer-events: none;
                border-radius: 10em;
            }

            .left {
                pointer-events: none;
                gap: 4px;
                display: flex;
                align-items: center;
                flex: 2;
                max-width: 70%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                .infoWrap {
                    display: flex;
                    flex-direction: column;

                    label {
                        opacity: .8;
                    }
                }
            }

            .right {
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: end;
                flex: 1;

                label {

                    &.positive {
                        color: green;
                    }
                    &.negative {
                        color: red;
                    }
                    &.neutral {
                        color: black;
                    }
                }
            }
        }
    }

    table {
        text-align: start;
        color: var(--primary-color);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        border-spacing: 3em;
        font-size: 1.5vh;

        tr {
            th {

                text-align: start;
            }

            &.userRow {
                cursor: pointer;
                background-color: red;
            }
        }
    }
}