:root {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgb(32, 32, 32);
    background-image: url('https://c4.wallpaperflare.com/wallpaper/882/260/926/deutsches-olympiastadion-berlin-germany-wallpaper-preview.jpg');
    // background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    ::-webkit-scrollbar {
        display: none;
    }

    --tile-color: white;
    --primary-color: black;
    --secondary-color: white;
    --button-color: #035fff;
    
}